All jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></ul>
<% end %>

<p><%= link_to "add a new job at this company", new_company_job_path %></p>

<p>
<%= link_to "<< back to companies index", companies_path %>
</p>
