<p><strong>Title:</strong> <%= @job.title %>
<br>

<strong>Description:</strong> <%= @job.description %>
<br>

<strong>Level of Interest:</strong> <%= @job.level_of_interest %>
<br>

<strong>City:</strong> <%= @job.city %>
<br>



<strong>Company:</strong> <%= link_to @job.company.name, company_path(@job.company) %>
</p>

<p>
<%= link_to "<< return to the jobs index for this company", company_jobs_path %>  |  <%= link_to "edit this job", edit_company_job_path(@job.company, @job) %>  |  <%= link_to "delete this job", company_job_path, method: :delete, data: {confirm: "Really delete this job?"} %>
</p>
