
<h1><%= @job.title %></h1>
<h3>at <%= link_to @job.company.name, company_path(@job.company) %></h3>
<p>
<strong>Title:</strong> <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= @job.company.name %>
</p>
